<div class="controls">
  <a href="<%= backend_print_url(printer_id: 1) %>">Print this</a>
  <a href="<%= backend_preview_url %>">Preview this</a>
</div>
<div class="paper">
  <div class="content">
    <%= erb :header %>
    <script type="text/javascript" src="http://leaflet.cloudmade.com/dist/leaflet.js"></script>
    <link rel="stylesheet" href="http://leaflet.cloudmade.com/dist/leaflet.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="http://leaflet.cloudmade.com/dist/leaflet.ie.css" /><![endif]-->
    <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js"></script>
    <script type="text/javascript">
      $(function() {
        var gfr = new L.LatLng(51.5221,-0.08250);
        var map = new L.Map("map", {
          center: gfr,
          zoom: 16,
          zoomControl: false,
          attributionControl: false,
          layers: [new L.StamenTileLayer("toner")]
        });
        var marker = new L.Marker(gfr);
        map.addLayer(marker);
        marker.bindPopup("<b>Wee Printer</b> lives here!").openPopup();
      });
    </script>
    <section id="map" class="map">
    </section>
  </div>
</div>